<a href="https://colab.research.google.com/github/sambit-dev/amplifyapp/blob/master/My_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
class employee:
  company='Honeywell'  # to make a class and call its values
  def __init__(self,name,age):
    self.name=name
    self.age=age

E1=employee("sam",33)
E2=employee("may",35)
print(E1.__class__.company)
print(E1.name, E1.age)

Honeywell
sam 33

In [0]:
class employee:
  company='Honeywell'  # Inheritance in class
  def __init__(self,name,age):
    self.name=name
    self.age=age

class id1(employee):
  
  def __init__(self,name,age,id):
    self.name=name
    self.age=age
    self.id=id
  

E1=id1("sam",33,123)
print(E1.name,E1.age,E1.id,E1.company)

sam 33 123 Honeywell

In [5]:
class employee:
  __company='Honeywell'  # encapsulation
  def __init__(self,name,age):
    self.name=name
    self.age=age

class id1(employee):
  
  def __init__(self,name,age,id):
    self.name=name
    self.age=age
    self.id=id
  
E0=employee('rock',33)
E0.__company='abc'
E1=id1("sam",33,123)
print(E1.name,E1.age,E1.id,E0.__company)

sam 33 123 abc

In [8]:
class employee:
  __company='Honeywell'  # polymorphism in class
  def __init__(self,name,age):
    self.name=name
    self.age=age

class employee1:
  
  def __init__(self,name,age,id):
    self.name=name
    self.age=age
    self.id=id

def abc(emp):
  emp.name='sunita'
  print(emp.name)
  return emp.age

e1=employee('sam',33)
e2=employee1('ank',32,123)

print(abc(e1))
print(abc(e2))

sunita
33
sunita
32

In [15]:
l1=[1,2,3,4,5]
def f1(i):
    return i*i
    
l2=list(map(f1,l1))
print(l2)

[1, 4, 9, 16, 25]

In [17]:
l1=[1,2,3,4,5]
   
l2=list(filter(lambda x:x>3,l1))
print(l2)

[4, 5]

In [22]:
import functools
l1=[1,2,3,4,5]
   
l2=functools.reduce((lambda x,y:x+y),l1)
print(l2)

15

In [25]:
import pandas as pd
import csv
with open('https://drive.google.com/open?id=18mueMj4laxx9DMBFi_QjFPyhXgBjhfhK','r') as f:
  data=csv.reader(f)
  for row in data:
    print(row)

FileNotFoundError: ignored