<a href="https://colab.research.google.com/github/sambit-dev/amplifyapp/blob/master/OOPS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class firstclass:
    def __init__(self, name, age, city='pune'):
        self.name = name
        self.age = age
        self.city = city

    def print_details(self):
        print(self.name, self.age, self.city, self.salary)

    def print_details(self):
        print(self.name)

obj = firstclass('nishan', 30)
obj.name = 'mayank'
obj.salary = 50000
obj.print_details()
obj.__init__('sam',23)
obj.print_details()

mayank
sam

In [2]:
class firstclass:
    def __init__(self, name, age, city='pune'):
        self.name = name
        self.age = age
        self.city = city

    def __print_details(self):
        print(self.name, self.age, self.city, self.salary)

obj = firstclass('nishan', 30)
obj.name = 'mayank'
obj.salary = 50000
obj.__print_details()
obj.__init__('sam',23)
obj.__print_details()

AttributeError: ignored

In [13]:
class firstclass1:
    def __init__(self, name, age, city='pune'):
        self.name = name
        self.age = age
        self.city = city

    def __print_details__():
        print("a")


# obj = firstclass('nishan', 30)
# obj.name = 'mayank'
# obj.salary = 50000
# obj.__init__('sam',23)
# obj.__print_details__()
firstclass1.__print_details__()

a

In [19]:
class firstclass1:
  no_obj=0 #class varaible
  def __init__(self, name, age, city='pune'):
      self.name = name  ## instance variable
      self.age = age
      self.city = city
      firstclass1.no_obj +=1

  def __print_details__(self):
      print(self.name,self.age)


obj = firstclass1('nishan', 30)
obj.name = 'mayank'
obj.salary = 50000
obj.__init__('sam',23)
obj.__print_details__()
print(obj.no_obj)

sam 23
2