<a href="https://colab.research.google.com/github/sambit-dev/amplifyapp/blob/master/OOPS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class firstclass:
    def __init__(self, name, age, city='pune'):
        self.name = name
        self.age = age
        self.city = city

    def print_details(self):
        print(self.name, self.age, self.city, self.salary)

    def print_details(self):
        print(self.name)

obj = firstclass('nishan', 30)
obj.name = 'mayank'
obj.salary = 50000
obj.print_details()
obj.__init__('sam',23)
obj.print_details()

mayank
sam

In [2]:
class firstclass:
    def __init__(self, name, age, city='pune'):
        self.name = name
        self.age = age
        self.city = city

    def __print_details(self):
        print(self.name, self.age, self.city, self.salary)

obj = firstclass('nishan', 30)
obj.name = 'mayank'
obj.salary = 50000
obj.__print_details()
obj.__init__('sam',23)
obj.__print_details()

AttributeError: ignored

In [13]:
class firstclass1:
    def __init__(self, name, age, city='pune'):
        self.name = name
        self.age = age
        self.city = city

    def __print_details__():
        print("a")


# obj = firstclass('nishan', 30)
# obj.name = 'mayank'
# obj.salary = 50000
# obj.__init__('sam',23)
# obj.__print_details__()
firstclass1.__print_details__()

a

In [19]:
class firstclass1:
  no_obj=0 #class varaible
  def __init__(self, name, age, city='pune'):
      self.name = name  ## instance variable
      self.age = age
      self.city = city
      firstclass1.no_obj +=1

  def __print_details__(self):
      print(self.name,self.age)


obj = firstclass1('nishan', 30)
obj.name = 'mayank'
obj.salary = 50000
obj.__init__('sam',23)
obj.__print_details__()
print(obj.no_obj)

sam 23
2

In [39]:
class awesome:
  'this is a sample class awesome'
  def __init__(self):
    print('hello from init()')

print(awesome.__doc__)
print(awesome.__name__)
print(awesome.__module__)
print(awesome.__bases__)
print(awesome.__dict__)

this is a sample class awesome
awesome
__main__
(<class 'object'>,)
{'__module__': '__main__', '__doc__': 'this is a sample class awesome', '__init__': <function awesome.__init__ at 0x7f7518d67950>, '__dict__': <attribute '__dict__' of 'awesome' objects>, '__weakref__': <attribute '__weakref__' of 'awesome' objects>}

In [32]:
class emp:
  name='harsh'
  salary=50000
  def show(self):
    print(self.name)
    print(self.salary)

e1=emp()
print(getattr(e1,'name'))
print(hasattr(e1,'name'))
setattr(e1,'height',152)
print(getattr(e1,'height'))
print(e1)
delattr(emp,'salary')
print(hasattr(e1,'salary'))
delattr(e1,'height')
print(hasattr(e1,'height'))

harsh
True
152
<__main__.emp object at 0x7f7518e31a20>
False
False

In [38]:
import datetime
class person:
  def __init__(self,name,surname,birthdate,address,telephone,email):
    self.name=name
    self.surname=surname
    self.birthdate=birthdate

    self.address=address
    self.telephone=telephone
    self.email=email

  def __str__(self):
    return"%s%s,born%s\nadd:%s\ntelephone:%s\nemail:%s"%(self.name,self.surname,self.birthdate,self.address,self.telephone,self.email)

jane=person('jane','doe',datetime.date(1992,3,12),#year month day
            'no12 short street','5555456','jane.doe@emaple.com')
print(jane)

janedoe,born1992-03-12
add:no12 short street
telephone:5555456
email:jane.doe@emaple.com

In [46]:
class robot:
  def __init__(self,name):
    self.name=name
  
  def say_hi(self):
    print('hi,i am '+ self.name)

class physicianrobot(robot):
  def __init__(self,name):
    self.name=name
  
  def say_hi(self):
    super().say_hi()
    print('i am physician')

x=robot('marvin')
y=physicianrobot('james')

print(x,type(x))
print(y,type(y))
y.say_hi()

<__main__.robot object at 0x7f7518c3deb8> <class '__main__.robot'>
<__main__.physicianrobot object at 0x7f7518c3de48> <class '__main__.physicianrobot'>
hi,i am james
i am physician