<a href="https://colab.research.google.com/github/sambit-dev/amplifyapp/blob/master/Practise4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
l1=[1,2,3,4,5]
l2=[5,6,7,8,9]
l3=[0,0,0,0,0]
for i in range(0,len(l1)):
  l3[i]=l1[i]+l2[i]

print(l3)

[6, 8, 10, 12, 14]

In [24]:
l1=[1,2,3,4,5]
l2=[5,6,7,8,9]
l3=[]
for i in range(0,len(l1)):
  l3.append(l1[i]+l2[i])

print(l3)

[6, 8, 10, 12, 14]

In [14]:
l1=[1,1,2,2,3,3,4,4,5,5,15]
s=set(l1)
print(s)
l2=list(s)
l2.sort()
print(l2[-2])

{1, 2, 3, 4, 5, 15}
5

In [21]:
l1=[1,1,2,2,3,3,4,4,5,5,15]
l1.sort(reverse=True)
print(l1)
for i in range(0,len(l1)):
  if l1[i]!=l1[i-1]:
    print(l1[i-1])
    break

[15, 5, 5, 4, 4, 3, 3, 2, 2, 1, 1]
1

In [26]:
l1=[1,1,2,2,3,3,4,4,5,5,15]
print(sorted(list(set(l1))))
print(l1)

[1, 2, 3, 4, 5, 15]
[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 15]

In [27]:
l1=[1,1,2,2,3,3,4,4,5,5,15]
print(sorted(list(set(l1)))[-2])
type(l1)

5

list

In [30]:
a={}
type(a)# to create an empty set write a=set()

dict

In [34]:
d1={'name':'sambit','age':33}
d1['name']='sam'
print(d1['name'])

sam

In [43]:
d1={(1,2,3):'sambit'}
print(d1)
d1.get('age',32)
print(d1)

{(1, 2, 3): 'sambit'}
{(1, 2, 3): 'sambit'}

In [53]:
d2=dict([('name','sam'),('age',33)])
d2['add']='pashan'
print(d2)
k=d2.popitem()
k1=d2.pop('age')
print(d2)
print(k,k1)

{'name': 'sam', 'age': 33, 'add': 'pashan'}
{'name': 'sam'}
('add', 'pashan') 33

In [71]:
d1={'name': 'sam', 'age': 33, 'add': 'pashan'}
d2={'name': 'alok', 'age': 22, 'add': 'aundh','loc':'pune'}
d1.update(d2)
print(d1)

{'name': 'alok', 'age': 22, 'add': 'aundh', 'loc': 'pune'}

In [78]:
d1={'name': 'sam', 'age': 33, 'add': 'pashan'}
for k in d1.values():
  print(k)
for k1 in d1.keys():
  print(k1,d1[k1])

sam
33
pashan
name sam
age 33
add pashan

In [73]:
lst=['name','age','add']
d1=dict.fromkeys(lst,1)
print(d1)
d1.get('name','sam')
k=d1.keys()
print(k)
print(d1.items())
#help(dict)

{'name': 1, 'age': 1, 'add': 1}
dict_keys(['name', 'age', 'add'])
dict_items([('name', 1), ('age', 1), ('add', 1)])

In [89]:
d1={'age1':22,'age1':25,'age1':20}
for i in d1.keys():
  if d1[i]>0:
    max1=d1[i]
print(max1)

20

In [94]:
s="he is the man"
print(s.upper())
print(s.lower())
print(s.split())
print(len(s))
print(s[0:4])

HE IS THE MAN
he is the man
['he', 'is', 'the', 'man']
13
he i

In [98]:
a=25.7
print(int(a))
b=23
print(float(b))
print(isinstance(b,int))

25
23.0
True

In [101]:
a=25
print(bin(a))
b=23
print(oct(b))
print(isinstance(b,int))

0b11001
0o27
True