<a href="https://colab.research.google.com/github/sambit-dev/amplifyapp/blob/master/Tesla_stock_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import math
from sklearn import preprocessing
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [0]:
df = pd.read_csv('/content/Tesla.csv')

In [0]:
df.describe()

              Open         High  ...        Volume    Adj Close
count  1692.000000  1692.000000  ...  1.692000e+03  1692.000000
mean    132.441572   134.769698  ...  4.270741e+06   132.428658
std      94.309923    95.694914  ...  4.295971e+06    94.313187
min      16.139999    16.629999  ...  1.185000e+05    15.800000
25%      30.000000    30.650000  ...  1.194350e+06    29.884999
50%     156.334999   162.370002  ...  3.180700e+06   158.160004
75%     220.557495   224.099999  ...  5.662100e+06   220.022503
max     287.670013   291.420013  ...  3.716390e+07   286.040009

[8 rows x 6 columns]

In [0]:
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

label    34
dtype: int64

In [0]:
#df= pd.read_csv("D:\python\Datasets for ML\Tesla.csv")
df['HL_PCT']=(df['High'] - df['Low']) /df['Adj Close'] * 100 # adds HL_PCT column to the dataset
df['PCT_chg']=(df['Close'] - df['Open']) /df['Open'] * 100 # adds PCT_chg column to the dataset
print(df.head(6))

        Date       Open       High  ...  Adj Close     HL_PCT    PCT_chg
0  6/29/2010  19.000000  25.000000  ...  23.889999  31.226452  25.736837
1  6/30/2010  25.790001  30.420000  ...  23.830000  29.878309  -7.599848
2   7/1/2010  25.000000  25.920000  ...  21.959999  25.728599 -12.160004
3   7/2/2010  23.000000  23.100000  ...  19.200001  22.864587 -16.521735
4   7/6/2010  20.000000  20.000000  ...  16.110001  25.884542 -19.449995
5   7/7/2010  16.400000  16.629999  ...  15.800000  10.443032  -3.658537

[6 rows x 9 columns]

In [0]:
df=df[['Adj Close','HL_PCT','PCT_chg','Volume']]

In [0]:
df['forecast']=df['Adj Close']

In [0]:
df.head()

   Adj Close     HL_PCT    PCT_chg    Volume   forecast
0  23.889999  31.226452  25.736837  18766300  23.889999
1  23.830000  29.878309  -7.599848  17187100  23.830000
2  21.959999  25.728599 -12.160004   8218800  21.959999
3  19.200001  22.864587 -16.521735   5139800  19.200001
4  16.110001  25.884542 -19.449995   6866900  16.110001

In [0]:
forecast_duration=int(math.ceil(0.02*len(df)))

In [0]:
df['label']=df['forecast'].shift(-forecast_duration)